body{
    margin:0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    
}
img {
    opacity: 0.7;
  }
  .image{
    position:absolute;
    height: 10%;
    width:  10%;
    
}

   

.section{
    
    text-align:center;
    background-image: url("file:///home/webcon/Downloads/shubham14june/background-pc.jpg");
    height:70vh;
    width: 100vw;
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.section1{
    
    
    
    
    align-items: center;
    height: 50vh;
    box-sizing: border-box;
}
.section2{

  display: flex;
  
  align-items: flex-end;
  
  width:100vw;
  height: 30vh;
}
.section21{
  position: absolute;
  left:20vw;

}
.section3{
  
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  
  
}
.section31{
  position: absolute;
  left:20vw;
  

}

.upper-text{

    color:red;
  
    
    height: 10vh;
    width: 100vw;
    display: flex;
    
    align-items: center;
}
.upper-text1{
    
    
    position: absolute;
  color:red;

  
  height: 10vh;
  width: 50vw;
  
  
  display: flex;
  left: 20vw;
  align-items: center;
}
.upper-text2{    
  color:red;
  height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position:  absolute;
  left:50vw;
  
  
}
.text{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      width: 100vw;
      
      
      height: 10vh;
}
.text1{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50vw;
  
  
  height: 10vh;
}
.text2{
  display: flex;
  justify-content: space-evenly;;
  align-items: center;
  width: 50vw;
  height: 10vh;
}

.button {
    background-color:black; 
    box-sizing: border-box;
    border: none;
    color: white;
    height: 50px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    background-color: green;
    padding: 5px;
    font-size: 12px;
    border-radius: 10%;
    cursor: pointer;
  }
  .button1{
    height: 30px;
    width: 80px;
    background-color: green;
    text-decoration:none;
    font-size: 12px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    color:white;
    text-align: center; 


  }
   button,button:active,button:focus{

    border:0;
    outline: 0;
   }
 
  .footer {

    height: 35vh;
    width:100vw;
    background-color:white;
    
  }
  .footer2{

    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer1{
    height: 20vh;
    width: 100vw;
  }

  .footer1 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .padding1{

    padding-left: 20px;
  }